@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn{
    @apply px-4 py-2 shadow-md text-center  font-semibold active:scale-95 rounded transition-all text-sm ;
  }
  .btn-blue{
    @apply bg-blue-500 active:bg-blue-600 text-white;
}
.btn-red{
  @apply bg-red-500 active:bg-red-600 text-white;
}
.btn-green{
  @apply bg-green-500 active:bg-green-600 text-white;
}
.btn-gray{
  @apply bg-gray-500 active:bg-gray-600 text-white;
}
.btn-gray-light{
  @apply bg-gray-50 active:bg-gray-100 text-white;
}
.column-layout{
  @apply flex flex-col;
}
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply dark:bg-accent-gray bg-gray-200;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.styled-scrollbar::-webkit-scrollbar {
  @apply w-1.5;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-500 rounded-full;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
.styled-scrollbar::-webkit-scrollbar-track {
  @apply bg-slate-800 rounded-full;
}